* {
    margin: 0%;
    padding: 0%;
}

body {
    display: block;
    width: 100%;
    height: 45.1rem;
    background-image: url(../img/login_background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}


form {
    margin: auto;
    width: 25%;
    height: 40%;
    border: 0.01rem solid gray;
    position: relative;
    top: 10.5rem;
    text-align: center;
    line-height: 3rem;
    background-color: white;
}

#sp1 {
    background-color: #666699;
    width: 100%;
    display: block;
    color:white;
}

#sp2 {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

#ename {
    border-radius: 0.5rem;
    border: none;
    height: 1.9rem;
}

#qr {
    color: black;
    height: 1.5rem;
    width: 3rem;
}

div {
    height: 2rem;
    position: relative;
    line-height: 2rem;
    font-size: 0.8rem;
    color: red;
}