<div style="width:100%">
CTRL+SHIFT+J两端对齐 &nbsp;&nbsp;ENTER插入段落<br />
CTRL+SHIFT+NUM7无序列表&nbsp;&nbsp;CTRL+Z撤销<br />
CTRL+SHIFT+NUM8有序列表&nbsp;&nbsp;CTRL+Y重做<br />
CTRL+LEFTBRACKET减少缩进&nbsp;&nbsp;TAB增加缩进<br />
CTRL+RIGHTBRACKET增加缩进&nbsp;&nbsp;SHIFT+TAB减少缩进CTRL+B粗体<br />
CTRL+NUMO设置选中内容样式为普通&nbsp;&nbsp;CTRL+I斜体<br />
CTRL+NUM1设置选中内容样式为标题1&nbsp;&nbsp;CTRL+U下划线<br />
CTRL+NUM2设置选中内容样式为标题2&nbsp;&nbsp;CTRL+SHIFT+S删除线<br />
CTRL+NUM3设置选中内容样式为标题3&nbsp;&nbsp;CTRL+BACKSLASH清除格式<br />
CTRL+NUM4设置选中内容样式为标题4&nbsp;&nbsp;CTRL+SHIFT+L左对齐<br />
</div>