@model IEnumerable<IdentityRole>
@{
	ViewBag.Title = "角色列表";
}
@section style{
	<style>
		td {text-align: center}
	</style>
}
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-body">
				<h4><a asp-action="CreateRole" asp-controller="Admin">添加新角色</a></h4>
				<table border="1" style="border-spacing:0px">
					<tr>
						<td>角色ID</td>
						<td>角色名</td>
						<td>操作</td>
					</tr>
					@foreach (var role in Model)
				{
					<tr>
						<td>@role.Id</td>
						<td>@role.Name</td>
						<td>
							<a asp-action="EditRole" asp-route-id="@role.Id">编辑</a>
							<a asp-action="DeleteRole" asp-route-id="@role.Id">删除</a>
						</td>
					</tr>
				}
			</table>
		</div>
	</div>

