@model EmailAddressViewModel
@section style{
	<link rel="stylesheet" href="~/css/reset_password.css">
}
	<form method="post">
		<span id="sp1">--找回密码--</span>
		<span id="sp2">请输入你的邮箱账号：</span>
		<input asp-for="Email"><br />
		<span asp-validation-for="Email"></span>
		<br />
		<input type="submit" value="提交" id="qr">
	</form>