@model ResetPasswordViewModel
@section style{
	<link rel="stylesheet" href="~/css/set_new_password.css">
}

	<form method="post">
		<input asp-for="Email" type="hidden" />
		<input asp-for="Token" type="hidden" />
		<span id="sp1">--设置密码--</span>
		<span id="sp2">请输入你的新密码：</span>
		<input asp-for="Password"><br />
		<span asp-validation-for="Password"></span><br />
		<input asp-for="ConfirmPassword"><br />
		<span asp-validation-for="ConfirmPassword"></span><br />
		<input type="submit" value="重置" id="qr">
	</form>